@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f4f7fd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  inset: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-center {
  @apply flex justify-center;
}
.flex-between {
  @apply flex justify-between;
}
.flex-between-center {
  @apply flex justify-between items-center;
}
.flex-center-center {
  @apply flex justify-between items-center;
}
.hover-link {
  @apply font-normal border-b-[1px] hover:border-b-blue-400 relative after:bg-blue-400 pb-[2px] hover:border-none;
}
.hover-link::after {
  content: "";
  bottom: -2px;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
  left: 50%;
}
.hover-link:hover::after {
  width: 100%;
  left: 0%;
}
.header {
  box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%),
    0 8px 16px -6px rgb(24 39 75 / 8%);
}
.menubar {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  height: 100vh;
  transition: 0.2s;
}
.menubar.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(14px);
}

.scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4edc5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dad6d6ce;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9b9;
}

.swiper-slide-thumb-active img {
  @apply border-gray-600 border-[2px];
}

.product-card {
  padding: 15px;
  background-color: #fff;
  outline: 0;
  border-radius: 20px;
  height: 100%;
  -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.star {
  cursor: pointer;
  fill: #aaa;

  &.set {
    fill: gold;
  }
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
